<div class="ui inverted vertical masthead center aligned green segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Produce Items Inventory</h1>
    </h1>
  </div>
</div>

<div class="ui hidden divider"></div>

<% if current_user.admin? %>
  <div class="ui center aligned container">
    <%= link_to(new_produce_item_path) do %>
      <div class="ui green basic button">
        New produce item
      </div>
    <% end %>
  </div>
<% end %>

<div class="ui hidden divider"></div>

<table class="ui green celled table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produce_items.each do |produce_item| %>
      <tr>
        <td><%= image_tag(produce_item.photo.thumb) %></td>
        <td><%= produce_item.name %></td>
        <td><%= produce_item.category %></td>
        <td><%= link_to 'Show', produce_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
