<div class="ui inverted vertical masthead center aligned green segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Gardeners in Your Area</h1>
    </h1>
  </div>
</div>

<div class="ui hidden divider"></div>

<div class="digg_pagination">
  <%= will_paginate @users %>

  <table class="ui green celled table">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag(user.avatar.thumb) %></td>
          <td><%= link_to user.full_name, user, 'data-no-turbolink' => true %></td>
          <td><%= user.distance.round(1) %> miles away</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @users %>
</div>
