<p id="notice"><%= notice %></p>

<%= current_user.last_name %>, <%= current_user.first_name %>, <%= current_user.email %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
