<p id="notice"><%= notice %></p>

<h1>My Trade Offers Made</h1>

<table>
  <thead>
    <tr>
      <th>Item I want</th>
      <th>Quantity</th>
      <th>Trade offer made to</th>
      <th>Accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_offers_made.each do |trade_offer| %>
      <tr>
        <td><%= trade_offer.garden_item.produce_item.name %></td>
        <td><%= trade_offer.quantity %></td>
        <td><%= trade_offer.garden_item.seller.full_name %></td>
        <td><%= trade_offer.accepted %></td>
        <td><%= link_to 'Show', trade_offer %></td>
        <td><%= link_to 'Edit', edit_trade_offer_path(trade_offer) %></td>
        <td><%= link_to 'Destroy', trade_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>My Trade Offers Received</h1>

<table>
  <thead>
    <tr>
      <th>Item wanted by others</th>
      <th>Quantity</th>
      <th>Trade offer made from</th>
      <th>Accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_offers_received.each do |trade_offer| %>
      <tr>
        <td><%= trade_offer.garden_item.produce_item.name %></td>
        <td><%= trade_offer.quantity %></td>
        <td><%= trade_offer.buyer.full_name %></td>
        <td><%= trade_offer.accepted %></td>
        <td><%= link_to 'Show', trade_offer %></td>
        <td><%= link_to 'Edit', edit_trade_offer_path(trade_offer) %></td>
        <td><%= link_to 'Destroy', trade_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
