<div class="ui inverted vertical masthead center aligned green segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Trade Offers Made</h1>
    </h1>
  </div>
</div>

<table class="ui green celled table">
  <thead>
    <tr>
      <th>Item I want</th>
      <th>Quantity</th>
      <th>Trade offer made to</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_offers_made.each do |trade_offer| %>
      <tr>
        <td><%= trade_offer.garden_item.produce_item.name %></td>
        <td><%= trade_offer.quantity %></td>
        <td><%= trade_offer.garden_item.seller.full_name %></td>
        <td><%= trade_offer.accepted_status %></td>
        <td><%= link_to 'Show', trade_offer %></td>
        <td><%=
          link_to 'Edit', edit_trade_offer_path(trade_offer,
          garden_item_id: trade_offer.garden_item.id)
        %></td>
        <td><%=
          link_to 'Destroy', trade_offer,
          method: :delete, data: { confirm: 'Are you sure?' }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="ui hidden section divider"></div>

<div class="ui inverted vertical masthead center aligned green segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      <h1>Trade Offers Received</h1>
    </h1>
  </div>
</div>

<table class="ui green celled table">
  <thead>
    <tr>
      <th>Item wanted by others</th>
      <th>Quantity</th>
      <th>Trade offer made from</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_offers_received.each do |trade_offer| %>
      <tr>
        <td><%= trade_offer.garden_item.produce_item.name %></td>
        <td><%= trade_offer.quantity %></td>
        <td><%= trade_offer.buyer.full_name %></td>
        <td><%= trade_offer.accepted_status %></td>
        <td><%= link_to 'Show', trade_offer %></td>
        <td><%=
          link_to 'Edit', edit_trade_offer_path(trade_offer,
          garden_item_id: trade_offer.garden_item.id)
        %></td>
        <td><%=
          link_to 'Destroy', trade_offer,
          method: :delete, data: { confirm: 'Are you sure?' }
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
