<div class="ui two column centered grid">
  <% if current_user?(@trade_offer.buyer) %>
    <div class="column">
      <h1>Item you want:</h1>

      <p>
        <strong>Garden item:</strong>
        <%= @trade_offer.garden_item.produce_item.name %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @trade_offer.quantity %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @trade_offer.accepted_status %>
      </p>

      <%=
        link_to "Edit", edit_trade_offer_path(
        @trade_offer, garden_item_id: @trade_offer.garden_item.id)
      %> |

      <%=
        link_to "Destroy", @trade_offer,
        method: :delete, data: { confirm: "Are you sure?" }
      %>
    </div>

    <div class="column">
      <% if @reciprocal_trade_offer.nil? %>
        <h1>No reciprocal trade offer at this time.</h1>
      <% else %>
        <h1>Item <%= @reciprocal_trade_offer.buyer.full_name %> wants:</h1>

        <p>
          <strong>Garden item:</strong>
          <%= @reciprocal_trade_offer.garden_item.produce_item.name %>
        </p>

        <p>
          <strong>Quantity:</strong>
          <%= @reciprocal_trade_offer.quantity %>
        </p>

        <%= render partial: "accept", locals: { trade_offer: @reciprocal_trade_offer } %>

        <%=
          link_to "Destroy", @reciprocal_trade_offer,
          method: :delete, data: { confirm: "Are you sure?" }
        %>
      <% end %>
    </div>
  <% else %>
    <div class="column">
      <% if @reciprocal_trade_offer.nil? %>
        <h1>You have not made a reciprocal trade offer.</h1>

        <%= link_to "See #{@trade_offer.buyer.first_name}'s garden items",
        user_path(
          @trade_offer.buyer.id,
          reciprocal_trade_offer_id: @trade_offer.id
        ) %>
      <% else %>
        <h1>Item you want:</h1>

        <p>
          <strong>Garden item:</strong>
          <%= @reciprocal_trade_offer.garden_item.produce_item.name %>
        </p>

        <p>
          <strong>Quantity:</strong>
          <%= @reciprocal_trade_offer.quantity %>
        </p>

        <p>
          <strong>Status:</strong>
          <%= @reciprocal_trade_offer.accepted_status %>
        </p>

        <%=
          link_to "Edit", edit_trade_offer_path(
          @reciprocal_trade_offer, garden_item_id: @reciprocal_trade_offer.garden_item.id)
        %> |

        <%=
          link_to "Destroy", @reciprocal_trade_offer,
          method: :delete, data: { confirm: "Are you sure?" }
        %>
      <% end %>
    </div>

    <div class="column">
      <h1>Item <%= @trade_offer.buyer.full_name %> wants:</h1>

      <p>
        <strong>Garden item:</strong>
        <%= @trade_offer.garden_item.produce_item.name %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @trade_offer.quantity %>
      </p>

      <%= render partial: "accept", locals: { trade_offer: @trade_offer } %>

      <%=
        link_to "Destroy", @trade_offer,
        method: :delete, data: { confirm: "Are you sure?" }
      %>
    </div>
  <% end %>
</div>

<br>

<div class="ui section divider"></div>

<%= link_to "Back", trade_offers_path %>
