<div class="ui form">
  <%= form_for(@garden_item) do |f| %>
    <% if @garden_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@garden_item.errors.count, "error") %> prohibited this garden_item from being saved:</h2>

        <ul>
        <% @garden_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :produce_item %><br>
      <%= f.select(:produce_item_id, produce_items_for_select, prompt: "Select") %><br>
    </div>
    <div class="field">
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :photo, "Add photo" %><br>
      <%= f.file_field :photo %><br>
      <%= f.hidden_field :photo_cache %>
    </div>
    <div class="actions">
      <%= f.submit "Create garden item" %>
    </div>
  <% end %>
</div>
