<p id="notice"><%= notice %></p>

<h1>Listing Garden Items</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garden_items.each do |garden_item| %>
      <tr>
        <td><%= garden_item.quantity %></td>
        <td><%= link_to 'Show', garden_item %></td>
        <td><%= link_to 'Edit', edit_garden_item_path(garden_item) %></td>
        <td><%= link_to 'Destroy', garden_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garden Item', new_garden_item_path %>
