<p id="notice"><%= notice %></p>

<p>
  <strong>Garden item:</strong>
  <%= @garden_item.produce_item.name %><br>

  <strong>Category:</strong>
  <%= @garden_item.produce_item.category %><br>

  <strong>Quantity:</strong>
  <%= @garden_item.quantity %><br>

  <strong>Owner:</strong>
  <%= @garden_item.seller.full_name %>
</p>

<%= link_to 'New trade offer', new_trade_offer_path(garden_item_id: @garden_item.id) %> |

<% if logged_in? && current_user?(@garden_item.seller) %>
  <%= link_to 'Edit', edit_garden_item_path(@garden_item) %> |
<% end %>

<%= link_to 'Back', garden_items_path %> |
