<%= image_tag(@garden_item.photo) %>

<p>
  <strong>Garden item:</strong>
  <%= @garden_item.produce_item.name %><br>

  <strong>Category:</strong>
  <%= @garden_item.produce_item.category %><br>

  <strong>Quantity:</strong>
  <%= @garden_item.quantity %><br>

  <strong>Owner:</strong>
  <%= @garden_item.seller.full_name %>
</p>

<% if !current_user?(@garden_item.seller) %>
  <%= link_to 'New trade offer', new_trade_offer_path(garden_item_id: @garden_item.id), class: "ui green basic label" %>
<% end %>

<% if logged_in? && current_user?(@garden_item.seller) %>
  <%= link_to 'Edit', edit_garden_item_path(@garden_item), class: "ui green basic label" %>
  <%= link_to 'Delete', @garden_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui green basic label" %>
<% end %>

<div class="ui hidden divider"></div>

<%= link_to(current_user_index_garden_items_path) do %>
  <div class="ui green basic button">
    Back to my garden items
  </div>
<% end %>
